body{
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}
.col-md-6{
    margin-top: 150px !important;
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}
input[type=button]{
    width: 100%;
    background-color: blue;
    color: white;
    font-weight: bolder;
    border: 2px solid black;
}
input[type=text]{
    width: 100%;
}
h1{
    font-weight: bolder !important;
    margin-top: 15px !important;
}