body{
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
}
h1{
    margin-top: 50px !important;
    margin-bottom: 25px !important;
    background-color: brown;
    border-radius: 5px;
}