body {
    height: 100vh;
    width: 400px;
    margin: 0 auto;
    background-color: #2D3059;
    color: #F3F5FA;
    font-family: Arial, Helvetica, sans-serif;
    }
    h1 {
        text-align: center;
        color: #F3F5FA;
        font-size: 2rem;
        margin: 0;
        margin-bottom: 1.5rem;
        font-weight: 1000;
    }
    p {
        color: black;
    }
    .form {
        margin-top: 50%;
    }
    form {

        background-color: #202342;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        border-radius: 10px;
        padding-top: 3rem;
        padding-bottom: 3rem;

    
    }
    label{
        margin-right: 4px;
    }
    .to-div {
        margin-left: 1rem;
    }
    .amount-div {
        margin-right: 1.1rem;
    }
    p {
        background-color: white;
        width: 12.7rem;
        padding: .8rem 0;
        margin: 0;
        margin-right: .4rem;
    }
    .result-div {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    button {
        margin-top: 1rem;
        padding: .5rem;
        border-radius: 10px;
        background-color: #FA818F;
        color: #F3F5FA;
        border: none;
        
      }
      button:hover {
         background-color: #dd7a86;
      }